@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border {
  animation: border 5s linear infinite;
  border-radius: 1rem;
}
